<!DOCTYPE html>
<html lang="en">
<head>
  <meta content="text-html" charset="UTF-8" http-content="">
</head>
<body>
  <h1>Time to TandemNizr</h1>
  <p>You've been invited to do a language tandem, please confirm the rendez-vous clicking the next link</p>
  <p><a href="http://localhost:3000/confirm/<%= @participation.token %>">Confirmate the rendez-vous</a></p>
</body>
</html>