<div class="row">
  <div class="medium-4 columns hide-for-small-only">
    <ul class="side-nav">
      <%= render 'shared/user_information' %>
    </ul>
  </div>
  <div class="medium-8 columns">
    <h4>Profile configuration</h4>
    <%= render 'form' %>
  </div>
</div>