<div class="row">
  <div class="medium-12 columns">
    <blockquote><h2>Each time your closer to your best tandem mate!</h2></blockquote>

    <ul class="medium-block-grid-4 small-block-grid-2">
      <% @users.each do |user| %>
      <li class="">
        <a class="th radius" href="#">
          <img src="<%= user.photo %>">
        </a>
        <h6><%= user.name %></h6>
        <% user.languages.each do | language | %>
        <%= link_to language.language, new_tandem_path(user_id: user.id, language: language.language), method: :get, "class" => "label secondary" %>
        <% end %>
      </li>
      <% end %>
    </ul>
    <%= will_paginate @users %>
  </div>
</div>

