<section class="orbit-container">
  <ul id="orbit" data-orbit>
    <li>
      <%= image_tag("https://dl.dropboxusercontent.com/u/79814994/cdn/tandem_lesson.jpg", alt: "Find your perfect tandem") %>
      <section class="orbit-caption">
        <h1>TandemNizr</h1>
        <h4>We're here to show your perfect partner!</h4>
        <a href="<%= register_path() %>" class="button glass">Start the experience</a>
      </section>
    </li>
    <li class="active">
      <%= image_tag("https://dl.dropboxusercontent.com/u/79814994/cdn/tandem.jpg", alt: "Find your perfect tandem") %>
      <section class="orbit-caption">
        <h1>TandemNizr</h1>
        <h4>We're here to show your perfect partner!</h4>
        <a href="<%= register_path() %>" class="button glass">Start the experience</a>
      </section>
    </li>
  </ul>
</section>