<section class="orbit-container">
  <ul id="orbit" data-orbit>
    <li>
      <%= image_tag("https://dl.dropboxusercontent.com/u/79814994/cdn/tandem_lesson.jpg", alt: "Find your perfect tandem") %>
    </li>
    <li class="active">
      <%= image_tag("https://dl.dropboxusercontent.com/u/79814994/cdn/tandem.jpg", alt: "Find your perfect tandem") %>
    </li>
  </ul>
</section>