<section class="orbit-container">
  <ul data-orbit>
    <li>
      <%= image_tag("tandem_lesson.jpg") %>
    </li>
    <li class="active">
      <%= image_tag("tandem.jpg") %>
    </li>
  </ul>
</section>