<section class="full-row"><br>
  <div class="medium-12">
    <div class="medium-4 columns">
      <div class="hexagon"></div>
    </div>
    <div class="medium-4 columns">
      <div class="hexagon"></div>
    </div>
    <div class="medium-4 columns">
      <div class="hexagon"></div>
    </div>
  </div>
</section>