<div class="row">
  <div class="medium12 columns">
    <h2>Tandem for: <%= current_user.name %></h2>

    <%= form_for [@user, @tandems] do | f | %>



      <%= f.submit 'Save', {'class' => 'button' } %>
    <% end %>

  </div>
</div>