<div class="row">
  <div class="medium12 columns">
    <h2>Available languages from <%= @host_participation.name %></h2>
    <ul>
      <% @host_participation.languages.each do | language | %>
        <li><%= link_to language.language, tandem_path(id: @participation.id, language: language.language), method: :patch, "class" => "button small success tiny" %></li>
      <% end %>
    </ul>
  </div>
</div>