@import "foundation_and_overrides";
#notice {
  color: $primary-color;
}

.field_with_errors {
  input{
    border: 1px solid $alert-color;
  }
}

#error_explanation {
  margin-bottom: 20px;
  h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin-bottom: 0px;
    background: $alert-color;
    color: #fff;
  }
  ul li {
    font-size: 12px;
  }
}
