// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "foundation_and_overrides";
.orbit-container{
  .orbit-slides-container{
    &> *{
      .orbit-caption{
        background: transparent;
        top: 30%;
        left: 15%;
        height: 20%;
        width: 40%;
        h1{
          color: $white;
          text-shadow: 2px 2px 2px rgba(196, 196, 196, 1);
        }
        h4{
          color: $primary-color;
        }
        .glass {
          font-weight: 100;
          background: transparent;
          box-shadow: none;
          border: 1px solid rgba(0,0,0, 0.2);
          -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
          &:hover{
            border-color: rgba(0,0,0, 0.6);
          }
        }
      }
    }
  }
}
.hexagon {
  position: relative;
  width: 300px;
  height: 173.21px;
  background-color: $primary-color;
  margin: 86.60px auto;
  &:before,
  &:after{
    content: "";
    position: absolute;
    width: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
  }
  &:before{
   bottom: 100%;
   border-bottom: 86.60px solid $primary-color;
  }
  &:after{
    top: 100%;
    width: 0;
    border-top: 86.60px solid $primary-color;
  }
}