// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "foundation_and_overrides";

.top-bar .title-area img{
  vertical-align: top;
}
.top-bar,
.top-bar-section ul li,
.top-bar-section li:not(.has-form) a:not(.button),
.top-bar-section li:not(.has-form) a:not(.button):hover{background: transparent!important;}
.top-bar-section .dropdown li.parent-link{ font-size: rem-calc(12)}
.top-bar-section .has-dropdown.active .dropdown li,
.top-bar-section .has-dropdown.active .dropdown li a {background: transparent!important;}
.top-bar-section .has-dropdown.active .dropdown li a{line-height: 1.4!important; font-weight: lighter; font-size:1.6rem!important;}
.field_with_errors{
  input{
    background: scale-color($alert-color, $lightness: 83%)!important;
  }
}
.f-topbar-fixed {
  padding-top: 0px !important;
}
.contain-to-grid{
  background: none;
  -webkit-transition: all 1.5s ease-in-out;
    -moz-transition: all 1.5s ease-in-out;
    -o-transition: all 1.5s ease-in-out;
    transition: all 1.5s ease-in-out;
}
.smoked-top-bar{
  background: $shiny-edge-color!important;
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.white-top-bar{
  background: $white!important;
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.footer{
  margin-top: 5em;
  padding-top: 5em;
  color: #fff;
  background: $success-color;
}